services:
  traefik:
    container_name: openassess-traefik
    image: traefik:v3.1
    command:
      - --api.insecure=false
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      traefik.enable: true
      traefik.docker.network: traefik
      traefik.http.routers.traefik.rule: "Host(`traefik.localhost`)"
      traefik.http.routers.traefik.service: api@internal
      traefik.http.routers.traefik.entrypoints: web
    networks:
      - traefik

networks:
  traefik:
    name: traefik
    external: true
